@import "./variables.scss";
.app {
  height: 300vh;
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr 1fr;
  grid-template-areas: "title" "info1" "info2" "info3";
}

.title {
  background-color: $title-background;
  z-index: 4;
  grid-area: title;
  text-align: center;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.titleHeader {
  color: $title-color;
  font-size: 7rem;
  border-bottom: solid white 2px;
  margin-left: 200px;
  margin-right: 200px;
}
.titleText {
  color: $title-text;
  font-size: 2rem;
  margin-bottom: 40px;
}

.info1 {
  background-color: $info1-background;
  grid-area: info1;
  z-index: 3;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 0.2fr 1.4fr 1fr 0.4fr;
  grid-template-areas: ". picture text .";
}

.info2 {
  background-color: $info2-background;
  grid-area: info2;
  z-index: 2;
  text-align: right;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 0.3fr 1fr 1.5fr 0.4fr;
  grid-template-areas: ". text picture .";
}

.info3 {
  background-color: $info3-background;
  grid-area: info3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 0.2fr 1.2fr 1fr 0.4fr;
  grid-template-areas: ". picture text .";
}

.textbox {
  grid-area: text;

  display: grid;
  color: $text-color;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr;
  grid-template-areas: "." "textHeader" "textBody" ".";
}

.textHeader {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  grid-area: textHeader;
}

.textBody {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: bolder;
  grid-area: textBody;
  font-size: 1.2rem;
}

.picture {
  grid-area: picture;
  align-self: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  width: 100%;
  height: auto;
}
