//title background
$title-background: #000033;

//info1 background
$info1-background: #313397;

//info2 background
$info2-background: #1f1d74;

//info3 background
$info3-background: #0b053a;

//title color
$title-color: white;
$title-text: rgb(232, 244, 255);
//text color
$text-color: white;
