//title background
$title-background: #000033;

//info1 background
$info1-background: #4a89c4;

//info2 background
$info2-background: #154b92;

//info3 background
$info3-background: #0a2a4e;

//title color
$title-color: white;
$title-text: rgb(232, 244, 255);
//text color
$text-color: white;
